.header{
    height: 100px;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top:0;
    align-items: center;
    padding-right: 20px;
    flex-direction: row;
}
li{
    display: inline;
    font-size: 25px;
    margin-right: 20px;
}
