.footer{
    height: 100px;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 0px;
    align-items: center;
    font-size: 24px;
}